<section>
  <div class="page-header">
    <h1 align="center">Services</h1>
  </div>
  <div class="list-group">
    <div ng-repeat="post in vm.posts" class="list-group-item">
    <div class="list-group-item-text" style="min-height: 100px;">
      <div class="col-md-2">
        <img class="profileimage" data-ng-src="{{post.user.profileImageURL}}"></img>
        <br>
        <span ng-if="post.user" ng-bind="post.user.displayName" align="center"></span>
      </div>
      <div class="col-md-10">
        <a ui-sref="posts.view({ postId: post._id })">
          <div class="col-md-9" style="min-height:80px;">
            <h3 class="list-group-item-heading" ng-bind="post.title"></h3>
          </a>
          <h5 class="post-description" ng-bind="post.description"></h5>
        </div>
        <div class="col-md-3" style="min-height:80px;">
          <div ng-bind="post.created | date:'mediumDate'" align="right"></div>
        </div>
        <div class="col-md-9">
          <a><div class="post-links"> Like </div></a>
          <a><div class="post-links"> Comment </div></a>
          <a><div class="post-links"> Share </div></a>
          <a><div class="post-links"> Report </div></a>
        </div>
        <div class="col-md-3">
          <div class="col-md-7">
            <span class="list-group-item-heading" ng-bind="post.location"></span>
          </div>
          <div class="col-md-5">
            <span>$ </span>
            <span ng-bind="post.price" align="right"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-warning text-center" ng-if="vm.posts.$resolved && !vm.posts.length">
  No Posts yet, why don't you <a ui-sref="posts.create">create one</a>?
</div>
</section>
