<section class="row" data-ng-controller="ProfilesController">
  <div class="col-xs-offset-10 col-xs-10 col-md-offset-4 col-md-4">
    <form name="profileForm" data-ng-submit="updateUserProfile(profileForm.$valid)" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="skills">Skills</label>
          <input type="text" id="skills" name="skills" class="form-control" data-ng-model="profile.skills" placeholder="Skills">
        </div>
        <div class="form-group">
          <label for="about">About</label>
          <input type="text" id="about" name="about" class="form-control" data-ng-model="profile.about" placeholder="About">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="location" id="location" name="location" class="form-control" data-ng-model="profile.location" placeholder="Location">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-lg btn-primary">Save Profile</button>
        </div>
        <div data-ng-show="success" class="text-center text-success">
          <strong></strong>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>